body{
    background-color: #A9BAEF;
}
    
#titulo{
        font-family: 'Fredoka One', cursive;
    }
.labelname{
    font-family: 'Didact Gothic', sans-serif;
    margin: 5px 0;
    display: flex;    
}
.containercenter{
    background-color: #FCCBCD;
    /*padding: 10%;*/
}
.containerborder{
    background-color: white;
}
.labelicon{
    margin: 0 2px;
}
form button{
    background-color: #A9BAEF;
    border: none;
    color: white;
    border-radius: 9px;
    font-family: 'Didact Gothic', sans-serif;
    padding: 5px 20px;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
}
form input{
    border: 1px solid #AAAAAA;
}
form textarea{
    border: 1px solid #AAAAAA;
}
#validacionnombre{
    font-family:'Didact Gothic', sans-serif; 
    color: #ff0000;
}
#validacioncorreo{
    font-family:'Didact Gothic', sans-serif; 
    color: #ff0000;
}
#validaciontelefono{
    font-family:'Didact Gothic', sans-serif; 
    color: #ff0000;
} 
#validacionsitioweb{
    font-family:'Didact Gothic', sans-serif; 
    color: #ff0000;
}
#validacionasunto{
    font-family:'Didact Gothic', sans-serif; 
    color: #ff0000;
}
#validacionmensaje{
    font-family:'Didact Gothic', sans-serif; 
    color: #ff0000;
}
#contador{
    font-family: 'Didact Gothic', sans-serif;
    float: right;
}
.alinear{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/*Media para celulares*/

@media only screen and (max-width: 640px){
    body{ 
        margin: 0px 50px;
        text-align: center;       
    }
    .containercenter{
        display: flex;
/* align-items: center;/* centar todo contenido*/ 
        justify-content: center;
        flex-direction: column;
/* width: 15%;*/
    }
    form input{
        width: 100%;
    /*height: 10px;*/
    }
    form textarea{
        width:100%;
    /*height: 10px;*/
    }
    .labelname{
        align-content: center;
        justify-content: center;
    }    
    .containerborder{
        margin: 0px 10%;
        padding: 20px;
    }
    .containercenter{
        background-color: #FCCBCD;
        padding: 10%;
    }
}

/*Media para tablets*/
@media only screen and (min-width:640px) and (max-width: 1023px) {
    body{ 
        margin-left: 100px;
        margin-right: 100px;       
    }
    .containercenter{
        display: flex;
        /* align-items: center; centar todo contenido*/ 
        justify-content: center;
        flex-direction: column;
        /*width: 30%;*/
    }
    form input{
        width: 100%;
        /*height: 30px;*/
    }
    form textarea{
        width: 100%;
        height: 30px;
    }
    .labelname{
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: left;
    }
    .containerborder{
        background-color: #A9BAEF; 
        display: flex;
        justify-content: center;
        flex-direction: row;      
    }
    .containercenter{
        background-color: #FCCBCD;
        padding: 10%;
        width: 60%;
    }
    .containerborderderecha{
        background-color: white;
        margin: 6% 0px;
        width: 29%;
    }
}

/*media para web*/

@media only screen and (min-width: 1024px){
    body {        
        /*text-align: center;*/
        margin-left: 100px;
        margin-right: 100px;
    }

    .containercenter{
        display: flex;
        align-items: center; /*centar todo contenido*/ 
        justify-content: center;
        flex-direction: row;
        /*width: 60%;*/
        background-color: #A9BAEF;
    }
    .containerizquierda{
        width: 100%;
        height: 50%;
        /*margin: 0px 10px;*/
        padding: 20px;
        background-color: #FCCBCD;
    }
    .containerderecha{
        width: 100%;
        height: 50%;
        /*margin: 0px 10px;*/
        padding: 20px;
        background-color: white;
    }
    form input{
        width: 100%;
        height: 30px;
        /*padding-top: 15px;
        padding-bottom: 15px;**/
    }
    form textarea{
        width: 100%;
        height: 30px;
    }    
    .labelname{
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .containerborder{
        margin: 10px 10%;
    }
    #asunto{
        background-color: #FCCBCD;
    }
    #mensaje{
        background-color: #FCCBCD;
    }
}

/*Modal*/
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    background-color: #111111bd;
    opacity: 0;
    pointer-events: none;
}
.modal--show{
    opacity: 1;
    pointer-events: unset;
}
.modal_container{
    margin: auto;
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    border-radius: 6px;
    background-color: #FCCBCD;
    padding: 3em, 2.5em;
    display: grid;
    gap: 1em ;
    place-items: center;
}
#check_circle{
    font-size: 100px;
}
#mensaje{
    font-family: 'Didact Gothic', sans-serif;
}
h1{
    font-family:'Fredoka One', cursive;
}
button{
    background-color:#A9BAEF;
    color: white;
    border: none;
    border-radius: 9px;
    font-family: 'Didact Gothic', sans-serif;
    padding: 5px 20px;
    margin: 5px;
    font-weight: bold;
    cursor: pointer;
}